<div class="col-md-4">
  <div class="jumbotron">
    <h5>Date: {{day.date}}</h5>
    <h5>Total Tickets: {{day.tickets.length}}</h5>
    <h5>Average Wait: <br>{{averageWaitTime}}</h5>


  </div>
</div>
