
<div id="buttons">
  <p>
    Login Below
  </p>
  {{#link-to 'student'}} <a class="btn btn-default login-buttons">Student</a> {{/link-to}}
  {{#link-to 'teacher'}} <a class="btn btn-default login-buttons">Teacher</a> {{/link-to}}
</div>
